<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/logo/favicon.png">
    <title>Indian Hyperbaric and Diving Medicine Association</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="assets/css/plugins/magnifying-popup.css">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- header area start -->
    <header class="header-one style-two header--sticky">
        <div class="header-top-area-2">
            <div class="container">
                <div class="header-top-two">
                    <div class="logo w-25">
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo/logo.png" class="" alt="logo_area">
                        </a>
                    </div>
                    <div class="rightarea">
                        <div class="single-contact-area">
                            <div class="header-wrapper-1">
                                <div class="header-right">
                                    <div class="input-area">
                                        <input id="myInput" type="text" placeholder="Search...">
                                        <i class="fa-light fa-magnifying-glass"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-contact-area">
                            <i class="fa-light fa-location-dot"></i>
                            <div class="information">
                                <span>Mumbai, India</span>
                            </div>
                        </div>
                        <div class="single-contact-area">
                            <i class="fa-regular fa-clock"></i>
                            <div class="information">
                                <span>Monday - Friday <br> 09:00 - 11:00</span>
                            </div>
                        </div>
                        <div class="single-contact-area">
                            <i class="fa-light fa-phone"></i>
                            <div class="information">
                                <span>Contact No: <br><a href="tel:+919930729923"> +919930729923 </a> </span>
                            </div>
                        </div>
                        <div class="menu-btn" id="menu-btn">
                            <svg width="20" height="16" viewBox="0 0 20 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect y="14" width="20" height="2" fill="#1F1F25"></rect>
                                <rect y="7" width="20" height="2" fill="#1F1F25"></rect>
                                <rect width="20" height="2" fill="#1F1F25"></rect>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrapper-1">
                        <div class="logo-area-start">
                            <div class="nav-area">
                                <ul class="">
                                    <li class="main-nav"><a href="#">Home</a></li>
                                    <li class="main-nav"><a href="#">About Us</a></li>
                                    <li class="main-nav"><a href="#">HBOT Regulations for India</a></li>
                                    <li class="main-nav has-dropdown"><a href="#">Facility Accreditation</a>
                                        <ul class="submenu parent-nav">
                                            <li><a href="#">Accreditation Support System</a></li>
                                        </ul>
                                    </li>
                                    <li class="main-nav has-dropdown"><a href="#">Memberships</a>
                                        <ul class="submenu parent-nav">
                                            <li><a href="#">Benefits of Membership</a></li>
                                            <li><a href="#">Join IHDMA</a></li>
                                            <li><a href="#">Fellow of Undersea & Hyperbaric Medicine</a></li>
                                        </ul>
                                    </li>
                                    <li class="main-nav has-dropdown"><a href="#">Education</a>
                                        <ul class="submenu parent-nav">
                                            <li><a href="#">Annual Scientific Meetings</a></li>
                                            <li><a href="#">Directly Provided Courses</a>

                                            </li>
                                        </ul>
                                    </li>
                                    <li class="main-nav has-dropdown"><a href="#">Publications</a>
                                        <ul class="submenu parent-nav">
                                            <li><a href="#">IHDMA Journals</a></li>
                                            <li><a href="#">Case Reports</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="main-nav has-dropdown"><a href="#">Resources</a>
                                        <ul class="submenu parent-nav">
                                            <li><a href="#">Position Statement</a></li>
                                            <li><a href="#">Chamber Directory</a></li>
                                            <li><a href="#">HBO Indication</a></li>
                                            <li><a href="#">Links</a></li>
                                            <li><a href="#">Multicenter Registry For Hyperbaric Oxygen Therapy</a></li>
                                            <li><a href="#">News & Announcements</a></li>

                                        </ul>

                                    </li>
                                    <li class="main-nav"><a href="contactus.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="header-right">
                            <div class="header-right-user">
                                <button type="button" class="user-icon" data-bs-toggle="modal"
                                    data-bs-target="#authModal">
                                    <i class="fa-solid fa-user"></i>
                                </button>
                            </div>

                            <!-- <div class="input-area">
                                <input id="myInput" type="text" placeholder="Search...">
                                <i class="fa-light fa-magnifying-glass"></i>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </header>
    <div class="modal fade userform p-0" id="authModal" tabindex="-1" aria-labelledby="authModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <ul class="nav nav-tabs m-0 align-items-center" id="authTabs" role="tablist">
                    <li class="nav-item mb-0" role="presentation">
                        <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login"
                            type="button" role="tab">Login</button>
                    </li>
                    <li class="nav-item mb-0" role="presentation">
                        <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup"
                            type="button" role="tab">Sign Up</button>
                    </li>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Login Form -->
                    <div class="tab-pane fade show active" id="login" role="tabpanel">
                        <form id="loginForm" class="mt-5">
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-user"></i></span>
                                <input type="email" class="form-control" placeholder="Enter Email">
                            </div>
                            <div class="form-group">
                                <span class="input-icon"><i class="fas fa-key"></i></span>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <button class="login-btn" type="submit">Login</button>
                            <div class="remember-forgot mt-3">
                                <label class="remember">
                                    <input type="checkbox" id="remember">
                                    <span>Remember me</span>
                                </label>
                                <a href="#" class="forgot-link" data-form="forgotForm">Forgot Password?</a>
                            </div>
                            <p class="login-link">
                                Don't have an account? <a href="#signup-tab" class="switch-form">Sign
                                    Up</a>
                            </p>
                        </form>
                    </div>

                    <!-- Sign Up Form -->
                    <div class="tab-pane fade" id="signup" role="tabpanel">
                        <form id="signupform" class="mt-5">
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" name="fullname" placeholder="Enter Full Name">
                            </div>
                            <div class="form-group">
                                <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
                                <input type="email" class="form-control" name="emailid" placeholder="Enter Email">
                            </div>
                            <div class="form-group">
                                <span class="input-icon"><i class="fa-solid fa-phone"></i></span>
                                <input type="text" class="form-control" name="mobileno" placeholder="Enter Mobile No">
                            </div>
                            <button class="login-btn" type="submit">Signup</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header area end -->

    <!-- rts breadcrumb area start -->
    <div class="rts-breadcrumb-area bg_image">
        <div class="container ptb--40">
            <div class="row">
                <div class="breadcrumb-area-wrapper">
                    <h5 class="title mb-0">About the IHDMA
                    </h5>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- rts breadcrumb area end -->


    <!-- service details area start -->
    <div class="service-details rts-section-gap2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="service-details-left-wrapper">
                        <p class="disc mb--30">
                            The Undersea and Hyperbaric Medical Society (UHMS) was formed in 1967. It is an
                            international nonprofit association serving some 2,000 physicians, scientists, associates
                            and nurses from more than 30 countries in the fields of hyperbaric and dive medicine.
                        </p>
                        <p class="disc mb--30">
                            The UHMS is an important source of scientific and medical information pertaining to undersea
                            and hyperbaric medicine through its bimonthly, peer-reviewed journal, Undersea and
                            Hyperbaric Medicine, symposia, courses, certifications, workshops and publications.
                        </p>
                        <p class="disc mb--30">
                            It organizes an annual scientific meeting at different U.S. and international locations to
                            permit review of the latest in research and treatment and to promote the highest standards
                            of practice.
                        </p>
                        <a href="https://www.uhms.org/images/40th_Anniversary_Booklet.pdf" class="rts-btn btn-primary"
                            target="_blank">40 Year History: Anniversary Booklet
                            <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service details area end -->


    <!-- srvice area start -->
    <div class="service-area position-relative rts-section-gap2 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="title-wrapper-left">
                        <span class="pre wow fadeInUp" data-wow-delay=".2s" data-wow-duration=".8s">Mission</span>
                        <h2 class="title wow fadeInUp" data-wow-delay=".4s" data-wow-duration=".8s">
                            The mission of the IHDMA is:
                        </h2>

                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".8s">
                    <div class="single-service-area">
                        <ul>
                            <li>To provide a forum for professional scientific communication among individuals and
                                groups involved in basic and applied studies concerned with life sciences and human
                                factors aspects of the undersea environment and hyperbaric medicine.</li>
                            <li>To promote cooperation between the life sciences and other disciplines concerned with
                                undersea activity, hyperbaric medicine, and wound care.</li>
                            <li>To develop and promote educational activities and other programs, which improve the
                                scientific knowledge of matters related to undersea and hyperbaric environments and the
                                accepted applications of hyperbaric oxygen therapy for the membership, as well as
                                physicians and allied health professionals, divers, diver technicians and the public at
                                large.</li>
                            <li>To provide a source of information and support in the clinical practice of hyperbaric
                                medicine and to stay abreast of legislative, legal, and regulatory changes in the field.
                            </li>
                            <li>To provide a means by which hyperbaric facility directors/owners will have an
                                opportunity to request an accreditation survey of their facility for safety, staffing
                                and verifying the adequacy of the professional medical application of hyperbaric
                                therapy.</li>
                        </ul>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- srvice area end -->



    <!-- medical screening system section start -->
    <div class="why-choose-us-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="why-choose-area-wrapper">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="why-choose-us-area-wrapper-main">
                                    <div class="title-area-center">
                                        <span class="pre wow fadeInUp" data-wow-delay=".2s" data-wow-duration=".8s">UHMS
                                            990's</span>
                                        <p class="disc text-center wow fadeInUp mb-0 mt-5" data-wow-delay=".6s"
                                            data-wow-duration=".8s">
                                            The IRS requires that Form 1023, Form 990, Form 990-T, Annual Reports, and financial statements need to be posted on the non-profit's public website and made available to the public upon request. Below is the pdf copy of UHMS Current 990.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <!-- Row 1 -->
                            <div class="col-12 d-flex justify-content-center mb-5">
                                <!-- First 8 buttons -->
                                <a href="https://www.uhms.org/images/990s/990_04_uhms.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2004
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_05_uhms.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2005
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_06_uhms.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2006
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_07_uhms.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2007
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_08_uhms.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2008
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_09_uhms.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2009
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_10_uhms.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2010
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_11_uhms.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2011
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_12_uhms.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2012
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                            </div>

                            <!-- Row 2 -->
                            <div class="col-12 d-flex justify-content-center mb-5">
                                <!-- Next 8 buttons -->
                                <a href="https://www.uhms.org/images/990s/990_13_UHMS.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2013
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_14_UHMS.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2014
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_2015_UHMS.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2015
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_2016_UHMS.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2016
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_2017_UHMS.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2017
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_2018_UHMS.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2018
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_2019_UHMS.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2019
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_2020_UHMS.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2020
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                            </div>

                            <!-- Row 3 -->
                            <div class="col-12 d-flex justify-content-center mb-5">
                                <a href="https://www.uhms.org/images/990s/1500_2021_990E_US_Undersea_and_Hyperbaric_Medical_Signed.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2021
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/1500_2022_990E_US_Undersea_and_Hyperbaric_Medical_Public.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2022
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/2023%20Form%20990%20Web.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2023
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/990_2024.pdf" class="rts-btn btn-primary me-2"
                                    target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i> 2024
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                            </div>

                            <div class="col-12 d-flex justify-content-center mb-5">
                                <a href="https://www.uhms.org/images/990s/16vs15_Brochure_Financial_Update_003.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i>
                                    2015-2016 Financial Update
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/UHMS_Financial_Update_Brochure_17_v_16.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i>
                                    2017 Financial Update
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/Brochure_Financial_Update_2018_version_1.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i>
                                    2018 Financial Update
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/Brochure_Financial_Update_2019_v1.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i>
                                    2019 Financial Update
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <a href="https://www.uhms.org/images/990s/Brochure_Financial_Update_2020_v1.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i>
                                    2020 Financial Update
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/Brochure_Financial_Update_2021_v128.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i>
                                    2021 Financial Update
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                                <a href="https://www.uhms.org/images/990s/Brochure%20Financial%20Update%202023%20v2.pdf"
                                    class="rts-btn btn-primary me-2" target="_blank">
                                    <i class="fas fa-file-pdf me-1"></i>
                                    2023 Financial Update
                                    <img src="assets/images/banner/icons/arrow--up-right.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- medical screening system section end -->


    <!-- footer area start -->
    <div class="rts-footer-area footer-bg pt--80 pt_sm--50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- subscribe area start -->
                    <div class="subscribe-area-start pb--30">
                        <a href="#" class="logo">
                            <img src="assets/images/logo/logo.png" class="w-25" alt="logo">
                        </a>
                        <!-- subscribe area start -->
                        <div class="subscribe-area">
                            <input type="text" placeholder="Enter your email">
                            <button class="rts-btn btn-primary">Subscribe</button>
                        </div>
                        <!-- subscribe area end -->
                    </div>
                    <!-- subscribe area end -->
                </div>
                <div class="col-lg-12">
                    <div class="footer-wrapper-style-between row ">
                        <div class="single-wized col-md-3">
                            <h6 class="title">Contact</h6>
                            <div class="body">
                                <p class="location">
                                    Mumbai, India
                                </p>
                                <a href="mailto:info@ihdma.com">info@ihdma.com</a>
                                <a href="tel:+919930729923">+919930729923</a>
                            </div>
                        </div>
                        <div class="single-wized col-md-3">
                            <h6 class="title">Quick Links </h6>
                            <div class="body">
                                <ul class="nav-bottom">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Facility Accreditation</a></li>
                                    <li><a href="#">Memberships </a></li>
                                    <li><a href="#">Education </a></li>
                                    <li><a href="#">Publications </a></li>
                                    <li><a href="#">Resources </a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-wized col-md-3">
                            <h6 class="title">Legal Policy</h6>
                            <div class="body">
                                <ul class="nav-bottom">
                                    <li><a href="#">Cancellation & Refund Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Shipping and Delivery Policy </a></li>
                                    <li><a href="#">Membership Category</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-wized col-md-3">
                            <h6 class="title">Working Time</h6>
                            <div class="body">
                                <p class="location">
                                    Mon - Fri: 9.00am - 11.00pm
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-area-inner">
                        <p>© 2025 Indian Hyperbaric & Diving Medicine Association
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer area end -->



    <!-- header style two -->
    <div id="side-bar" class="side-bar header-two">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
        <!-- mobile menu area start -->
        <div class="mobile-menu-main">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">
                    <li class="has-droupdown">
                        <a href="#" class="main">Home</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="index.html">Main Home</a></li>
                            <li><a class="mobile-menu-link" href="index-two.html">Home Two</a></li>
                            <li><a class="mobile-menu-link" href="index-three.html">Home Three</a></li>
                            <li><a class="mobile-menu-link" href="index-four.html">Home Four</a></li>
                            <li><a class="mobile-menu-link" href="index-five.html">Home Five</a></li>
                            <li><a class="mobile-menu-link" href="index-six.html">Home Six</a></li>
                            <li><a class="mobile-menu-link" href="index-seven.html">Home Seven</a></li>
                            <li><a class="mobile-menu-link" href="index-eight.html">Home Eight</a></li>
                            <li><a class="mobile-menu-link" href="index-nine.html">Home Nine</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Pages</a>
                        <ul class="submenu mm-collapse">
                            <li class="main-nav"><a href="about.html">About</a></li>
                            <li><a class="mobile-menu-link" href="doctors-one.html">Our Doctors</a></li>
                            <li><a class="mobile-menu-link" href="doctors-two.html">Our Doctors v2</a></li>
                            <li><a class="mobile-menu-link" href="doctor-details.html">Doctors Details</a></li>
                            <li><a class="mobile-menu-link" href="appoinment.html">Appoinment</a></li>
                            <li><a class="mobile-menu-link" href="procedures.html">Procedures</a></li>
                            <li><a class="mobile-menu-link" href="portfolio.html">Portfolio</a></li>
                            <li><a class="mobile-menu-link" href="portfolio-details.html">Portfolio Details</a></li>
                            <li><a class="mobile-menu-link" href="faq.html">FAQ's</a></li>
                            <li><a class="mobile-menu-link" href="shedule.html">Docot Shedule</a></li>
                            <li><a class="mobile-menu-link" href="pricing.html">Pricing Plane</a></li>
                            <li><a class="mobile-menu-link" href="before-after.html">Before After</a></li>
                            <li><a class="mobile-menu-link" href="contactus.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Service</a>
                        <ul class="submenu mm-collapse">
                            <li><a href="service.html">Service</a></li>
                            <li><a href="service-details.html">Service Details</a></li>
                            <li><a href="service-details-2.html">Service Details v2</a></li>
                            <li><a href="service-details-3.html">Service Details v3</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Blog</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="blog.html">Blog Post</a></li>
                            <li><a class="mobile-menu-link" href="blog-list.html">Blog Post</a></li>
                            <li><a class="mobile-menu-link" href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="contactus.html" class="main">Contact</a></li>
                </ul>
            </nav>

            <div class="rts-social-style-one pl--20 mt--50">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- mobile menu area end -->
    </div>
    <!-- header style two End -->
    <div class="loader-wrapper">
        <div class="loader">
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="anywhere-home">
    </div>
    <!-- progress area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
            </path>
        </svg>
    </div>
    <!-- progress area end -->

    <script src="assets/js/plugins/jquery.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/vendor/waw.js"></script>
    <script src="assets/js/plugins/swiper.js"></script>
    <script src="assets/js/plugins/metismenu.js"></script>
    <script src="assets/js/plugins/jarallax.js"></script>
    <script src="assets/js/plugins/smooth-scroll.js"></script>
    <script src="assets/js/plugins/magnifying-popup.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <!-- main js here -->
    <script src="assets/js/main.js"></script>
</body>


<!-- Mirrored from html.themewant.com/mediweb/service-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Apr 2025 12:33:40 GMT -->

</html>